/* Set the background color and font for the entire page */
body {
  background-color: #f9fbfd;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  background-image: url("../images/cinema.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
}

div a {
  padding: 16px;
  border-radius: 25px;
  margin-left: 8px;
  padding: 25px;
}

/* Style for the search container */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

/* Style for the search input field */
.search input {
  padding: 7px;
  margin: 5px 0px 5px 5px;
}

/* Style for the main container holding genre buttons and movie cards */
.container {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

/* Style for each genre container */
.genre-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px 16px 16px;
  margin-top: 25px;
}

/* Style for genre buttons */
.genre-btn {
  background-color: #333333;
  border: 2px solid #0d6efd;
  border-radius: 99px;
  color: #ffffff;
  cursor: pointer;
  height: 140px;
  font-size: 26px;
  margin-left: 5px;
  width: 140px;
}

.genre-btn:hover {
  background-color: #0d6efd;
}

/* Style for the container holding movie cards */
.movies-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  color: #000000;
  padding-bottom: 16px;
}

.movie-search-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  color: #ffffff
}

/* Style for each movie card */
.movie-card {
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.7);
}

.movie-card:hover {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #0d6efd;
  box-shadow: rgb(0, 0, 0) 0px 2px 8px 0px;
  cursor: pointer;
}

/* Style for the box that holds the movie poster */
.poster-box {
  text-align: center;
}

/* Style for the movie poster image */
.poster-box img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 5px;
}

/* Style for the box containing movie details (title and description) */
.details-box {
  padding: 10px;
}

/* Style for movie title */
.details-box h2 {
  font-size: 1.2em;
  margin-bottom: 10px; /* Add margin between title and description */
}

/* Style for movie description */
.details-box p {
  font-size: 1em;
  color: #000000;
}

.add-to-watchlist-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.add-to-watchlist-btn:hover {
  background-color: #0056b3;
}
