/* Set the background color and font for the entire page */
body {
  background-color: #f9fbfd;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  background-image: url('../images/cinema.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
}

div a {
  padding: 16px;
  border-radius: 25px;
  margin: 15px 0px 0px 8px;
  padding: 25px;
}

/* Style for the container holding movie cards */
.movies-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px 0;
}

/* Style for each movie card */
.movie-card {
  border: 1px solid #ddd;
  box-shadow:rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.7)
}

.movie-card:hover {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #0d6efd;
  box-shadow:rgb(0, 0, 0) 0px 2px 8px 0px;;
  cursor: pointer;
}

/* Style for the box that holds the movie poster */
.poster-box {
  text-align: center;
}

/* Style for the movie poster image */
.poster-box img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 5px;
}

/* Style for the box containing movie details (title and description) */
.details-box {
  padding: 10px;
  color: #000000;
}

/* Style for movie title */
.details-box h2:first-child {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: none;
}

/* Style for movie release date */
.details-box h2 {
  font-size: 1em;
  margin-bottom: 10px;
  text-decoration: underline;
}

/* Style for movie description */
.details-box p {
  font-size: 1em;
}