/* General styling for the entire page */
body {
  background-color: #f9fbfd;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  background-image: url('../images/cinema.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}



/* Container for displaying movies */
.movies-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px 0;
}

/* Styling for individual movie cards */
.movie-card2 {
  border: 1px solid #ddd;
  box-shadow:rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  border-radius: 8px;
  padding: 10px;
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Hover effect for movie cards */
.movie-card2:hover {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #0d6efd;
  box-shadow:rgb(0, 0, 0) 0px 2px 8px 0px;;
  cursor: pointer;
}

/* Styling for the poster box containing movie images */
.poster-box2 {
  display: flex;
  align-items: center;
}

/* Styling for movie poster images */
.poster-box2 img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 5px;
}

/* Styling for the details box containing movie title and description */
.details-box2 {
  padding: 10px;
  color: #000000;
  flex: 1;
}

/* Styling for movie title */
.details-box2 h2:first-child {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: none;
}

/* Styling for movie release date and rating */
.details-box2 h2 {
  font-size: 1em;
  margin-bottom: 10px;
}

/* Styling for movie description */
.details-box2 p {
  font-size: 1em;
}

.underline {
  text-decoration: underline;
}

.remove-btn {
  background-color: #FF0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 30px;
}
/* Hover effect for the “Remove from Watchlist” button */
.remove-btn:hover {
  background-color: #B30000;
}